<script type="text/template" class="header-view">
<div class="container">
  <div class="row">
    <div class="large-12 columns">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel1">Ιστορια</a></dd>
        <dd><a href="#panel2">Σημεία</a></dd>
      </dl>
      <div class="tabs-content">
        <div class="content active" id="panel1">
        <div class="row">
          <div class="small-6 small-centered columns">
            <a href="#" class="button back-to-map">Επιστροφή στον χάρτη</a>
          </div>
        </div>
          <div class="row">
            <div class="large-12 columns">
              <p>Ένα από τα σημαντικότερα κέντρα της Πελοποννήσου στην αρχαιότητα, έφθασε σε ακμή τα ρωμαϊκά χρόνια, οπότε και κτίστηκε ένας μεγάλος αριθμός κτιρίων και κυρίως αθλητικών εγκαταστάσεων αφού στην Ήλιδα συνέρεε πάντα το πλήθος των αθλητών για προπόνηση, ένα μήνα πριν από τους Ολυμπιακούς Αγώνες. Ήταν η διοργανώτρια πόλη των Ολυμπιακών Αγώνων και πρωτεύουσα των Ηλείων.</p>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <p>Στον ίδιο χώρο που βρίσκεται ο Πύργος σήμερα, τοποθετείται η Αρχαία πόλη Δυσπόντιο. Στα περίχωρα του Πύργου ήταν η αρχαία πόλη Λέτρινα, απ' όπου είχε πάρει και την ονομασία του σαν Δήμος Λετρίνων μέχρι την Δεκαετία του 1980. Η ονομασία της πόλης προέρχεται από τον πύργο που είχε κατασκευάσει, το 1512, στην θέση του Επαρχείου ο Μπέης της ευρύτερης περιοχής Γεώργιος Τσερνωτάς.</p>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <p>Η Ολυμπία, υπήρξε το πιο δοξασμένο ιερό της αρχαίας Ελλάδας αφιερωμένο στον Δία, πατέρα των θεών και των ανθρώπων. Ήταν ο τόπος διεξαγωγής των Ολυμπιακών Αγώνων οι οποίοι τελούνταν στο πλαίσιο των Ολυμπίων, της πιο σημαντικής εορτής των Ελλήνων κατά το μεγαλύτερο διάστημα της αρχαιότητας.</p>
            </div>
          </div>
        </div>
        <div class="content" id="panel2">
        <div class="row">
          <div class="small-6 small-centered columns">
            <a href="#" class="button back-to-map">Επιστροφή στον χάρτη</a>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</script>
